<ion-view view-title="Add Expense">
<div><br><br></div>
    <div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Expense Name</span>
    <input type="text" placeholder="ex.Grocery">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Amount</span>
    <input type="text" placeholder="ex.10 $">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Date</span>
    <input type="date" placeholder="mm/dd/yy">
  </label>
</div>
    <div><center><button class="button button-positive">
  Add Expense
</button></center></div>
</ion-view>